.jackets-container {
    width: 100%;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.jackets-header-image {
    width: 100%;
    height: 50vh;
    background: url('../../assets/jackets_header.jpg');
    background-size: cover;
    background-position: center;
}

.jackets-catalague {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jackets-catalague-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.jacket-container {
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jacket-container > img {
    width: 100%;
}

.jacket-container > h1 {
    margin: 0;
    font-size: 25px;
}

.jacket-container > hr {
    width: 30%;
    background: #1a1a1a;
    height: 1px;
}

.jacket-container > h2 {
    font-size: 22px;
    margin: 0;
}

@media (min-width: 1024px){
    .jackets-title {
        margin-top: 3%;
        font-size: 25px;
    }

    .jackets-catalague-display {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        flex-wrap: wrap;
        margin: auto;
    }
    
    .jacket-container {
        width: 30%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        transition: all .2s ease;
    }

    .jacket-container:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}